@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .grid-option {
    @apply rounded-md p-5 h-full col-span-1 hover:opacity-75
     border-white border-2 hover:border-weasydoo;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
  }
}
